@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

:root {
  /* Typography */
  --regular-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --heading-font: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    monospace, sans-serif;

  /* h5 font size paragraph */

  /* start of for mobile */

  --font-size-s-h1: 3.052rem;

  --font-size-s-h2: 2.441rem;

  --font-size-s-h3: 1.953rem;

  --font-size-s-h4: 1.563rem;

  --font-size-s-h5: 1.25rem;
  /* major third 1.250 */
  --font-size-s-h6: 1rem;
  /* end of for mobile */

  --line-height: 1.75;

  --box-shadow-1: 2px 4px 6px #000;

  --transition-8: all 0.8s ease-in-out;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular-font);
  /* font size :16px */
  background: linear-gradient(220.55deg, #3793ff 0%, #0017e4 100%);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* mobile */

.main {
  min-height: 100vh;
}

.order-form {
  background-color: white;
  box-shadow: var(--box-shadow-1);
  max-width: 95%;
  margin: 1rem auto;
  border-radius: 0.4rem;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

.heading {
  font-size: var(--font-size-s-h4);
  letter-spacing: 1px;
  padding: 1rem;
  padding-left: 2rem;
  padding-top: 2rem;
  text-transform: capitalize;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.589);
  color: rgb(255, 255, 255);
}

.form {
  padding: 1rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
}
.col2 {
  margin: 0.5rem 0;
}

label {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 0.5rem 0;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: capitalize;
}

input:not(input[type="checkbox"], input[type="radio"]) {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  text-transform: lowercase;
  transition: var(--transition-8);
  border: 1px solid rgba(128, 128, 128, 0.315);
  background-color: rgb(255, 255, 255);
}
input[type="text"]:focus,
input[type="text"]:hover,
input[type="email"]:focus,
input[type="email"]:hover {
  border: 1px solid blueviolet;
  background-color: rgb(255, 255, 255);
  outline-color: blueviolet;
}

#white,
#magenta,
#coral,
#Burgundy,
#charcoal {
  margin-right: 0.5rem;
}

#comments {
  width: 100%;
  height: 5rem;
  resize: none;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}

.signup {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  margin: 1rem 0;
}

.btn {
  border: none;
  padding: 0.5rem 1rem;
  width: 100%;
  display: inline-block;
  font-size: var(--font-size-s-h5);
  font-weight: bold;
  color: peru;
  border: 1px solid peru;
  border-radius: 2rem;
  margin: 0 auto;
}

.btn-order {
  transition: var(--transition-8);
  box-shadow: var(--box-shadow-1);
  opacity: 0.8;
  cursor: pointer;
  max-width: 280px;
  text-align: center;
  margin-bottom: 2rem;
}

.btn-order:hover,
.btn-order:focus {
  transform: translateY(15%);
  background-color: peru;
  color: white;
  border-color: white;
}

.row-1 {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 576px) {
  .order-form {
    max-width: 500px;
  }
}
@media only screen and (min-width: 768px) {
  .order-form {
    max-width: 80%;
  }

  .form-row {
    flex-direction: row;
    margin: 1rem;
    gap: 1rem;
  }

  .col1 {
    margin: 0;
    flex: 0 0 49%;
  }

  .col2 {
    flex: 0 0 49%;
    margin: 0;
  }

  .col3 {
    margin: 0;
  }
  .col-1,
  .col-2,
  .col-3 {
    margin-top: 1rem;
  }

  .row-color {
    flex-direction: column;
  }

  .row-color {
    display: flex;
  }

  .row-1 {
    flex-direction: row;
    gap: 0.5rem;
  }

  .row-2 {
    display: block;
    margin: 0;
  }

  .row-3 {
    margin-top: 1rem;
  }

  .row-comments {
    flex-direction: column;
  }
  #comments {
    width: 500px;
    height: 100px;
    border-radius: 0.5rem;
    padding: 1rem;
  }

  .row-last {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .btn {
    max-width: 200px;
    border-radius: 0;
    background-color: whitesmoke;
    margin: 0;
  }

  .col-1 input,
  .col-2 input,
  .col-3 input {
    margin-top: 1rem;
  }
}
